<!DOCTYPE html>
<html>
<head>
	<title>Link Expried</title>
	<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=no, width=device-width">
</head>
<body style="margin: 0; padding: 0">
	<div style="margin-top: -20px; width: 100%; background-color: #42B549; text-align: center">
		<h3 style="color: white; padding: 10px">Popedia</h3>
	</div>

	<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 0 10px; text-align: justify;">
		<h2 style="margin-bottom: 5px">Link Expired</h2>
		<h4>Please use another link that's been provided</h4>
	</div>
</body>
</html>